html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: #9672ba;
  color: black;
  font-family: 'Poiret One', cursive;
}

h2{
  margin-bottom: 40px;
}


img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
}

.navActive {
  color: var(--secondary);
}